body {
  background-color: black;
  margin: 0;
  font-family: 'Muli', sans-serif, "Verdana";
}

.square {
  width: 30%;
  background-color: grey;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 20%;
  transition: background .5s;
  /* 'transistion' needs these for browser compatibility  */
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
}

#container {
  margin: 20px auto;
  max-width: 600px;
}

h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  background: grey;
  margin: 0;
  padding: 10px 0;
  font-weight: normal
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  background-color: grey;
  color: white;
}

button {
  border: none;
  background: none;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  color: grey;
  transition: background .3s;
  /* 'transistion' needs these for browser compatibility  */
  -webkit-transition: background .3s;
  -moz-transition: background .3s;
}

button:hover {
  color: white;
  background: grey;
}

/* 'outline' can be applied directly in 'button' selector, too */
button:focus {
  outline:0;
}

#message {
  display: inline-block;
  width: 20%;
}

#rgb-value {
  font-size: 50px;
  font-weight: 800;
}
